.btn-tutor {
  background-color: #a34ce6 !important;
  border-color: #7e08c7;
}

.btn-tutor:hover {
  background-color: #7e08c7 !important;

  border-color: #c0a7cf;
}

.navbar-tutor {
  background-color: #e0e0e0;
}

a {
  color: black;
}